body > footer {
  grid-area: "footer";
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
  background-color: #ffffff;
  height: 60px;
  width: 100%;
  border-top: 1px solid #cccccc;
}
