html {
  position: relative;
  height: 100%;
}

body {
  position: relative;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "header"
    "main"
    "footer";
  margin: 0;
  padding: 0;
  color: #484848;
  font-size: 14px;
  font-family: Circular, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.container {
  position: relative;
  grid-area: "main";
  width: 1000px;
  max-width: 1000px;
  margin: 30px auto;
}
